body {
    position: relative; 
  }
  /*#section1 {padding-top:50px;height:500px;}
  #section1 {background-image: url(images/sänky.jpg);padding-top: 50px;height: 500px; color: white;}*/
  #section2 {height: auto;min-height: 600px;color: #fff;background-color: #673ab7;padding-top: 0;}
  #section3 {padding-top:50px;height:1000px;color: #fff; background-color: #865D36; color: white; font-weight: bold; background-image: url(images/260758.jpg); background-size: cover; background-repeat: no-repeat;}
  #section4 {padding-top:50px;height:auto;color: #fff; background-color: transparent; position: relative; height: 100%; padding-bottom: 20px; display: flex; justify-content: center; align-items: center; padding: 0; margin: 0;}
  /*#section42 {padding-top:50px;height:1000px;color: #fff; background-color: #009688;}  */

#section1{
  display: flex;
  padding: 0;
  padding-top: 50px;
  height: 100vh;
}

.tietoja{
  display: flex;
  flex-direction: column;
  flex: 2;
  background-color: #6A6B51;
  justify-content: center;
}

.kuva{
  flex: 1;
}

.suomeksi, .ruotsiksi{
  border: black solid 2px;
  margin: 20px;
  padding: 10px;
  border-radius: 20px;
  color: black;
}

  #googleMap {
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    margin-bottom: 20px;
    margin: 0;
    padding: 0;
    border: none;
   }

   .navbar-brand img {
    width: 50px;
    height: auto;
    margin-top: -15px;
   }
   .navbar-inverse {
    background-color:#033b28;
   }

   .toimisto img {
    width: 500px;
    height: auto;
   }
   .toimisto {
    background-color: #e9e8e4;
    width: fit-content;
    color: black;
    padding: 8px;
    border-radius: 8px;
   }
   
   .otsikko {
    color: #3d5512;
   }
   .toimisto h1, .toimisto  h2, .toimisto h3 {
    color: #3d5512;
   }

   .navbar-nav.navbar-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
   }

   .navbar-nav.navbar-right li {
    margin-right: 10px;
   }

   .navbar-nav.navbar-right li a {
    margin-right: 10px;
    font-size: 20px;
    color: white;
    transition: color 0.3 ease;
    text-align: center;
    display: flex;
    align-items: center;
    height: 100%;
   }
   
   .navbar-nav.navbar-right li a:hover {
      color: #007bff;
   }

   .footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    font-size: 14px;
   }

   .footer h5 {
    color: #fff;
    font-size: 16px;
    margin-bottom: 15px;
   }

   .footer a {
    color: #ccc;
    text-decoration: none;
   }

   .footer a:hover {
    color: #007bff;
   }

   .footer ul {
    list-style-type: none;
    padding: 0;
   }

   .footer ul li {
    margin-bottom: 10px;
   }

   .footer ul li a:hover {
    text-decoration: underline;
   }

   .footer .fab {
    font-size: 20px;
    margin-right: 15px;
    color: #ccc;
   }

   .footer .fab:hover {
    color:#007bff;
   }

   .footer .text-center {
    border-top: 1px solid #555;
    margin-top: 20px;
    padding-top: 10px;
   }

   