body {
    position: relative; 
  }
  #section1 {padding-top:50px;height:500px;color: #fff; background-color: #1E88E5;}
  /*#section1 {background-image: url(images/sänky.jpg);padding-top: 50px;height: 500px; color: white;}*/
  #section2 {height: auto;min-height: 600px;color: #fff;background-color: #673ab7;padding-top: 0;}
  #section3 {padding-top:50px;height:1000px;color: #fff; background-color: #865D36; color: white; font-weight: bold; background-image: url(images/260758.jpg); background-size: cover; background-repeat: no-repeat;}
  #section41 {padding-top:50px;height:500px;color: #fff; background-color: #00bcd4;}
  #section42 {padding-top:50px;height:500px;color: #fff; background-color: #009688;}

  #googleMap {
    width: 100%; 
    height: 300px; 
    max-width: 600px;
    float: right;
    margin-right: 10px;
    margin-top: -450px;
   }

   .navbar-brand img {
    width: 50px;
    height: auto;
    margin-top: -15px;
   }
   .navbar-inverse {
    background-color: beige;
   }

   .toimisto img {
    width: 500px;
    height: auto;
   }
   .toimisto {
    background-color: #e9e8e4;
    width: fit-content;
    color: black;
    padding: 8px;
    border-radius: 8px;
   }
   
   .otsikko {
    color: #3d5512;
   }
   .toimisto h1, .toimisto  h2, .toimisto h3 {
    color: #3d5512;
   }
   
  
